@model ProductListViewModel

<h1>Welcome to Majid Shopping </h1>
<a calss="btn alert-success" asp-action="GetAll" asp-controller="User">AddUser</a>
@foreach (var item in Model.Data.Data)
{
    @Html.Partial("ProductSummary", item);

}
<div page-model="Model.Data.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="" page-class-selected="btn-success"></div>